/* variable */
:root {
    --main-color-dark-grey: #2A2A2A;
    --main-color-dark-grey: #1F1F1F;
    --main-color-grey: #E0E0E0;
    --main-color-black: black;
    --main-color-white: white;
    --main-color-grey-2: #666666;
    --main-color-green: #24B47E;
    --main-background: #181818;
}



/* zeroing */
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    transition: all .5s;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
    text-decoration: none;
    font-weight: 400;
    list-style: none;
}

a,
button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    border: none;
}



/* conatiner-templates */
.container {
    max-width: 1120px;
    margin: 0 auto;
}

.my-120 {
    margin-top: 120px;
}

.flex-space-between {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.width-100 {
    width: 100%;
}

.flex-column {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.gap-block-28px {
    display: flex;
    gap: 28px;
}

.gap-block-16px {
    display: flex;
    gap: 16px;
}

.gap-block-12px {
    display: flex;
    gap: 12px;
}

.gap-block-8px {
    display: flex;
    gap: 8px;
}

.gap-block-32px {
    display: flex;
    gap: 32px;
}

.flex-center {
    display: flex;
    align-items: center;
}

.none {
    display: none !important;
    z-index: 0;
}

body {
    background: var(--main-background);
}



/* text */
.p-medium {
    font-size: 18px;
    color: var(--main-color-grey);
}

.p-low {
    font-size: 14px;
    color: var(--main-color-grey);
}

.main-title {
    color: var(--main-color-white);
    font-size: 48px;
}

.p-bold-white {
    font-size: 18px;
    color: var(--main-color-white);
}

.banner-p {
    font-size: 14px;
    color: var(--main-color-grey);
    max-width: 441px;
}

.banner-title {
    font-weight: 700;
}

.copy-title {
    font-size: 16px;
    color: var(--main-color-grey-2);
}

.advantages-title {
    font-size: 18px;
    color: var(--main-color-white);
}

.footer-link-title {
    font-size: 14px;
    color: var(--main-color-grey-2);
    margin-bottom: 8px;
}

.faq-question-title {
    font-size: 14px;
    color: var(--main-color-grey);
}

.dropbase-menu-title {
    font-size: 14px;
    color: var(--main-color-grey);
}



/* container */
.left-banner-block {
    max-width: 566px;
    width: 100%;
}

.right-banner-block {
    max-width: 525px;
    width: 100%;
}

.footer-logo-block {
    max-width: 352px;
    width: 100%;
}

.theme-block {
    gap: 20px;
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 160px;
    height: 31px;
}

.logo {
    width: 123px;
    height: 24px;
}

.line {
    height: 1px;
    width: 100%;
    background: var(--main-color-dark-grey);
}

.footer-line{
    margin-top: 128px;
    margin-bottom: 33px;
}

.advantages-card {
    width: 280px;
}

.right-dashboard{
    max-width: 373px;
    width: 100%;
}

.left-dashboard {
    max-width: 560px;
    width: 100%;
}

footer {
    padding: 96px 80px;
}

.header-block{
    padding: 20px 0;
}



/* button-click-element-link */
.green-button {
    background: var(--main-color-green);
    border-radius: 4px;
    font-size: 12px;
    padding: 7px 11px;
    font-weight: 500;
}

.white-link-button {
    font-size: 14px;
    font-weight: 500;
    padding: 4px 12px;
}

.button-banner {
    font-size: 14px;
    padding: 9px 17px;
    font-weight: 400;
}

.dropbase-menu {}

.grey-link {
    font-size: 14px;
    color: var(--main-color-grey);
}

.faq-questions {}

.faq-question-answer {}

.footer-links {}

.theme-toggle-wraper {
    width: 44px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--main-color-grey-2);
    padding: 2px
}

.dropbase-menu-subblock {}

.faq-button {}

.theme-toggle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--main-color-dark-grey);
}

.dropbase-menu-link {}

.dashboard-button {}

.right-dashboard-button {}